*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    background-color: aqua;
    height: 100%;
    margin: auto;
}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-image: url('../images/create_room_background.jpg');
    background-size: cover;    
}

/* Navigation */
nav {
    max-height: 38px;
    background-color: rgb(59, 143, 192);
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.list-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
}

.right-flexbox {
    margin-left: auto;
    /* justify-content: right; */
}

li {
    display: flex;
    font-weight: bold;
    float: left;
    min-height: 38px;
}

a:not(#logo) {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

/* order of visited and hover matters */
li a:visited {
    color: black;
}


li a:hover {
    background-color: rgb(32, 78, 105);
    color: white;
}

.float-right {
    float: right;
}

/* Centered Form */
.center-div {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 10px;
    transform: translate(0, 6vh);
    position: absolute;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.container-child {
    flex: 0 0 25rem;
    padding: 20px;
    min-width: 28rem;
    border-radius: 12px;
    /* background-color: lightblue; */
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .2);
    background-color: rgb(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    transition: all 2050ms linear;
}

.center-text {
    text-align: center;
}

.lightgray-backround {
    background-color: lightgray;
}

.display-none {
    display: none;
}

.visibility-none {
    visibility: hidden;
}

.button-class {
    padding: 0px 10px 0px 10px;
    min-width: 60px;
    min-height: 30px;
} 

.form-text-input {
    min-width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 8px 6px 8px 6px; 
    margin-bottom: 10px;
}

.shift-content-right{
    float: right;
}

.room-available {
    display: block;
    color: darkgreen;
}

.room-unavailable {
    display: block;
    color: darkred;
}

/* doesn't work */
.shift-content-bottom {
    align-self: flex-end;
}

.for-label {
    display: block;
    padding: 0px 0px 4px 4px;
}

#room-status {
    font-family: serif;
    font-size: 14px;
    padding-left: 4px;
}